<div id="<%= dom_id article %>">
  <p>
    <strong>Feed:</strong>
    <%= article.feed_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= article.url %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= article.published %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= article.read %>
  </p>

  <p>
    <strong>Starred:</strong>
    <%= article.starred %>
  </p>

  <p>
    <strong>Filtered:</strong>
    <%= article.filtered %>
  </p>

  <p>
    <strong>Guid:</strong>
    <%= article.guid %>
  </p>

</div>
