<style>

</style>
<p style="color: green"><%= notice %></p>
<% content_for :title, "Articles" %>
<div class="article_page">
  <div class="menu-container">
      <div class="menu-buttons">
          <div class="menu-button-div">
              <div class="div-btn div-btn-ghost">
              <%= button_to "Mark Page as Read", mark_page_read_articles_path(
                      page: params[:page], 
                      category_id: params[:category_id], 
                      feed_id: params[:feed_id],
                      starred: params[:starred],
                      unread: params[:unread]),
                  method: :patch,
                  class: "div-btn" %>
              </div>
          </div>
          <div class="menu-button-div">
              <div class="div-btn div-btn-ghost">
              <%= button_to "Mark All as Read",
                  mark_all_read_articles_path,
                  method: :patch,
                  class: "" %>
              </div>
          </div>
          <div class="menu-button-div">
              <div class="div-btn div-btn-ghost">
              <% if params[:starred].present? %>
                  <%= link_to "Toggle Starred", articles_path(
                      category_id: params[:category_id],
                      feed_id: params[:feed_id],
                      unread: params[:unread]
                      ), class: "div-btn div-btn-ghost" %>
              <% else %>
                  <%= link_to "Toggle Starred", articles_path(
                      category_id: params[:category_id],
                      feed_id: params[:feed_id],
                      unread: params[:unread],
                      starred: true
                      ), class: "div-btn div-btn-ghost" %>
              <% end %>
              </div>
          </div>
          <div class="menu-button-div">
                  <div class="div-btn div-btn-ghost">
              <% if params[:unread].present? %>
                  <%= link_to "Toggle Unread", articles_path(
                      category_id: params[:category_id],
                      feed_id: params[:feed_id],
                      starred: params[:starred]
                      ), class: "div-btn div-btn-ghost" %>
              <% else %>
                  <%= link_to "Toggle Unread", articles_path(
                      category_id: params[:category_id],
                      feed_id: params[:feed_id],
                      starred: params[:starred],
                      unread: true
                      ), class: "div-btn div-btn-ghost" %>
              <% end %>
              </div>
          </div>
      </div>


<style>

.m-category-header, .m-feed-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.5rem;
}

.m-category {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  background: var(--surface);
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.m-category-name {
  padding-left: 0.5rem;
  font-weight: bold;
}
.m-category-name a {
  font-weight: bold;
  text-decoration: underline;
}
.m-feed-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 1rem;
  
}
.m-category-unread {
  padding-right: 2px;
  text-align: right;
}
.m-category-mark-read {
  text-align: center;
}
.m-feed-unread {
  text-align: right;
  padding-right: 2px;
}
.m-feed-mark-read {
  text-align: center;
}
.m-feed-section {
  display: block;
}
</style>

<div class="m" data-controller="articles">
  <div class="m-category-section">
    <!-- All Categories section -->
    <div class="m-category">
      <div class="m-category-header">
        <div class="m-category-name">
          <%= link_to "All Categories", articles_path, style: "color: #666;" %>
        </div>
        <div class="m-category-unread"><%= @total_unread %></div>
      </div>
    </div>

    <% @categories.each do |category| %>
      <div class="m-category">
        <div class="m-category-header">
          <div class="m-category-name" style="color: <%= category.color %>">
            <%= link_to category.name, articles_path(category_id: category.id), style: "color: #{category.color}" %>
          </div>
          <div class="m-category-unread"><%= category.unread_count %></div>
        </div>
        <div class="m-feed-section">
          <% category.feeds.each do |feed| %>
            <div class="m-feed-item">
              <div class="m-feed-name">
                <%= link_to feed.name, articles_path(category_id: category.id, feed_id: feed.id), style: "color: #{category.color}" %>
              </div>
              <div class="m-feed-unread">
                <%= feed.unread_count %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
    


  </div>
  <div class="article_body">
    <div class="pagination-container">
      <%= paginate @articles %>
    </div>

    <div id="articles" data-controller="articles">
      <% @articles.each do |article| %>
      <div class="article_item">

        <% if article.read == true %>
          <div class="article_item_header" data-article-id="<%= article.id %>" >
        <% else %>
          <div class="article_item_header unread" data-article-id="<%= article.id %>" >
        <% end %>

          <div class="article_item_starred" style="cursor: pointer;" data-article-id="<%= article.id %>" data-starred="<%= article.starred %>" data-action="click->articles#toggleStar">
            <% if article.starred == true %>
              &#x02B50;
            <% else %>
              &#9734;
            <% end %>
          </div>
          <div class="article_item_read" style="cursor: pointer;" data-article-id="<%= article.id %>" data-read="<%= article.read %>" data-action="click->articles#toggleRead">
            <% if article.read == true %>
              ✓
            <% else %>
              ◯ 
            <% end %>
          </div>


          <div class="article_item_name" style="background-color: <%= article.feed.category.color %>">
            <span><%= article.feed.name %></span>
          </div>

          <div class="article_item_title" style="font-weight: <%= article.read ? 'normal' : 'bold' %>; cursor: pointer;" data-action="click->articles#showDescription">
            <%= article.title %>
          </div>
          <div class="article_item_url">
            <%= article.url %>
          </div>
          <div class="article_item_published">
            <%= article.published.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %H:%M") %>
          </div>
          <!-- <div class="article_item_filtered"> -->
          <%#= article.filtered %>
          <!-- </div> -->
          </div>
          <div class="article_item_body">
            <div class="article_item_description" style="display: none;">
              <%= (article.sanitized_description || "No description available").html_safe %>
              <br />
              <br />
              <a href="<%= article.url %>" target="_blank">*Visit Full Article*</a>
            </div>
          </div>
        </div>
      <% end %>
      <div class="pagination-container">
        <%= paginate @articles %>
      </div>
    </div>
  </div>
</div>