<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>
<div id="articles">
  <% @articles.each do |article| %>
    <%#= render article %>
    <%#= link_to "Show this article", article %>
    
    <div class="feed_item">
      <div class="feed_item_header">

        <div class="feed_item_starred">
          <% if article.starred == true %>
            &#x02B50;
          <% else %>
            &#9734;
          <% end %>
        </div>


        <div class="feed_item_read">
          <% if article.read == true %>
            &#x2713; 
          <% else %>
            &#x274B;
          <% end %>
        </div>


        <div class="feed_item_name">
          <%= article.feed.name %>
        </div>

        <div class="feed_item_title">
          <%= article.title %>
        </div>
        <div class="feed_item_url">
          <%= article.url %>
        </div>
        <div class="feed_item_published">
          <%= article.published.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %H:%M") %>
        </div>
        <!-- <div class="feed_item_filtered"> -->
          <%#= article.filtered %>
        <!-- </div> -->
      </div>
      <div class="feed_item_body">
        <div class="feed_item_description">
          <%= article.description %>
        </div>
      </div>
    </div>    
  <% end %>
</div>

<%#= link_to "New article", new_article_path %>