<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>
<div id="articles" data-controller="articles">
  <% @articles.each do |article| %>
  <%#= render article %>
  <%#= link_to "Show this article", article %>
  <div class="article_item">

    <% if article.read == true %>
      <div class="article_item_header" data-article-id="<%= article.id %>" >
    <% else %>
      <div class="article_item_header unread" data-article-id="<%= article.id %>" >
    <% end %>

      <div class="article_item_starred" style="cursor: pointer;" data-article-id="<%= article.id %>" data-starred="<%= article.starred %>" data-action="click->articles#toggleStar">
        <% if article.starred == true %>
          &#x02B50;
        <% else %>
          &#9734;
        <% end %>
      </div>
      <div class="article_item_read" style="cursor: pointer;" data-article-id="<%= article.id %>" data-read="<%= article.read %>" data-action="click->articles#toggleRead">
        <% if article.read == true %>
          ✓
        <% else %>
          ◯ 
        <% end %>
      </div>


      <div class="article_item_name" style="background-color: <%= article.feed.category.color %>">
        <%= article.feed.name %>
      </div>

      <div class="article_item_title" style="font-weight: <%= article.read ? 'normal' : 'bold' %>; cursor: pointer;" data-action="click->articles#showDescription">
        <%= article.title %>
      </div>
      <div class="article_item_url">
        <%= article.url %>
      </div>
      <div class="article_item_published">
        <%= article.published.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %H:%M") %>
      </div>
      <!-- <div class="article_item_filtered"> -->
      <%#= article.filtered %>
      <!-- </div> -->
      </div>
      <div class="article_item_body">
        <div class="article_item_description" style="display: none;">
          <%= article.sanitized_description.html_safe %>
          <br />
          <br />
          
          <a href="<%= article.url %>" target="_blank">*Visit Full Article*</a>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pagination-container">
  <%= paginate @articles %>
</div>
</div>

<%#= link_to "New article", new_article_path %>