<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<div class="articles-buttons-container">
  <div class="div-btn div-btn-ghost">
    <%= link_to "New Category", new_category_path, class: "div-btn" %>
  </div>
</div>

<div id="categories" class="categories">
  <% @categories.each do |category| %>
    <div class="category_container">
      <div class="category_name" style="background-color: <%= category.color %> ">
        <div class="category_name_text">
          <%= category.name %>
        </div>
        <div class="category_name_color">
          <%= category.color %>
        </div>
      </div>
      <div class="category_show">
        <%= link_to "Show this category", category %>
      </div>
    </div>
  <% end %>
</div>