<p style="color: green"><%= notice %></p>

<% content_for :title, "Filters" %>

<h1>Filters</h1>
<div class="btn_new">
  <%= link_to "New filter", new_filter_path %>
</div>

<div id="filters" class="filters">
  <% @filters.each do |filter| %>
    <%#= render filter %>
    <div class="filters_item">
      <div class="filters_item_term">
        <%= filter.term %>
      </div>
      <div class="filters_item_title">
        <%= filter.title %>
      </div>
      <div class="filters_item_description">
        <%= filter.description %>
      </div>
      <div class="filters_item_show">
        <%= link_to "Show this filter", filter %>
      </div>
    </div>    
  <% end %>
</div>