<% content_for :title, "Filters" %>

<div class="page_header filter_header">
  <h1>Filters</h1>
  <div class="btn_new">
    <%= link_to "New filter", new_filter_path %>
  </div>
</div>
<div id="filters" class="filters">
  <div class="filters_item">
    <div class="filters_item_info">
      <!-- There has to be a better way to do this... --> 
      (#)
    </div>
    <div class="filters_item_term">
      term
    </div>
    <div class="filters_item_title">
      in_title
    </div>
    <div class="filters_item_description">
      in_desc
    </div>
    <div class="filters_item_show">
      show
    </div>
  </div>
  <% @filters.each do |filter| %>
    <%#= render filter %>
    <div class="filters_item">
      <div class="filters_item_info">
        <!-- There has to be a better way to do this... --> 
        (<%= filter.articles_count %>)
      </div>
      <div class="filters_item_term">
        <%= filter.term %>
      </div>
      <div class="filters_item_title">
        <%= filter.title %>
      </div>
      <div class="filters_item_description">
        <%= filter.description %>
      </div>
      <div class="filters_item_show">
        <%= link_to "Show this filter", filter %>
      </div>
    </div>
  <% end %>
</div>